main {
    flex: 1;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 50px;
  }
  
  
  
  .mainContainer {
    flex: 1;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 10px;
    margin-top: 15px;
    justify-content: center;
  }
  
  .pin {
    border-radius: 16px;
    background: #444;
    margin: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .pin .mainPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .pin.small {
    grid-row-end: span 26;
  }
  .pin.medium {
    grid-row-end: span 33;
  }
  .pin.large {
    grid-row-end: span 45;
  }
  
  .pin .content {
    width: 100%;
    height: 80px;
    background: rgba(34, 34, 34, 0.6);
    position: absolute;
    bottom: -85px;
    left: 0;
    /* border-radius: 16px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pin:hover .content {
    bottom: 0;
    /* transition: bottom 0.3s; */
    padding: 0px 15px;
  }
  
  .pin:hover .content h3 {
    color: #feffff;
    font-size: 16px;
    font-weight: 600;
  }
  
  .pin .search {
    margin-right: 28px;
    margin-top: 3px;
  }
  
  /* @media screen and (max-width: 480px) {
    
  
    main {
      margin-left: 75px;
    }
  } */